<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quiénes Somos...</h2>
                <hr class="light">
                <p class="text-faded">La Talabartería Montenegro fue creada en el año 1985 por su actual propietario José Hugo Ramírez Vélez, oriundo de esta región, actualmente es la única  talabartería que existe en el municipio de Montenegro, que en el transcurso de los años su reconocimiento se fue dispersando en la región, haciéndose conocer por su buena calidad de servicio!</p>
                <a href="#indicators" class="btn btn-default btn-xl">Indicadores!</a>
            </div>
        </div>
    </div>
</section>

