            <div class="col-sm-4">
                <div class="icono">
                    <i class="material-icons iconos2">room</i>
                </div>
                <div class="texto">
                    Visítanos<br>
                    Carrera 4 # 21 - 20 -<br>
                    Montenegro, Quindío <br><br>
                    Barrio la pista carrera <br>
                    4 # 21 - 22 -<br>
                    Montenegro, Quindío 
                </div>          
            </div>
            <div class="col-sm-4">
                <div class="icono">
                    <i class="material-icons iconos2">phone</i>
                </div>
                <div class="texto">
                    Llamános<br>
                    311 324 5363 <br>
                </div>  
            </div>
            <div class="col-sm-4">
                <div class="icono">
                    <i class="material-icons iconos2">email</i>
                </div>
                <div class="texto">
                    Contáctanos<br>
                    hugoramirezvelez@gmail.com
                </div>
            </div>
       