*{
	margin: 0;
	padding: 0;
	padding-top: 10px;
}
body {
	width: 80%;
	margin: 0 auto;
}
header {
	background-color: gray;
	border-radius: 15px 15px 0 0 ;
	padding-left: 20px;
	color: white;
}
.menu {
	margin-top: 5px;
	background-color: gray;
	border-radius: 0 0 15px 15px;
}
.menu ul {
	display: inline-block;
}
.menu ul li {
	display: inline-block;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}
.menu ul li a {
	text-decoration: none;
	color: white;
}
.tabla {
	display: table;
	-webkit-column-count: 3; /*Chrome, Safari, Opera?????*/
	-moz-column-count: 3; /*Firefox?????*/
	column-count: 3; /*cantidad de columnas*/
	column-gap: 40px; /*espacio entre columnas*/
	-webkit-column-gap: 40px; /*Firefox?????*/
}
.productos {
	display: table-cell; 
	width: 100%; 
}

.productos article {
	display: inline-table;
}
footer {
	background-color: gray;
	border-radius: 0 0 10px 10px;
	height: 40px;
	margin-top: 20px;

}